NEXT_PUBLIC_SANITY_PROJECT_ID="<paste your project here>"
NEXT_PUBLIC_SANITY_DATASET="development"
NEXT_PUBLIC_SANITY_API_VERSION="2024-08-22"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_SANITY_STUDIO_URL="http://localhost:3000/studio" 
SANITY_API_READ_TOKEN="<paste your token here>"
MAX_STATIC_PARAMS=50 # The maximum number of static params generated for a route during build time.

MEDUSA_BACKEND_URL=http://localhost:9000

# Your publishable key that can be attached to sales channels. See - https://docs.medusajs.com/development/publishable-api-keys
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=

# Your store URL, should be updated to where you are hosting your storefront.
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Your preferred default region. When middleware cannot determine the user region from the "x-vercel-country" header, the default region will be used. ISO-2 lowercase format. 
NEXT_PUBLIC_DEFAULT_REGION=us

# Your Stripe public key. See – https://docs.medusajs.com/add-plugins/stripe
NEXT_PUBLIC_STRIPE_KEY=